RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) route.php?$1 [QSA,L]
Header set X-Robots-Tag "noindex, follow"

Redirect 301 /a_viber viber://chat?number=+380638757510
Redirect 301 /s_viber viber://chat?number=+380675075833
Redirect 301 /t_viber viber://chat?number=+380677550007

Options +Indexes
