RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule (.*) route.php?$1 [QSA,L]
Header set X-Robots-Tag "noindex, follow"

Options +Indexes
